<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_dianjin/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,782},{190,222}}</string>
                <key>offset</key>
                <string>{-9,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,68},{190,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,540},{210,246}}</string>
                <key>offset</key>
                <string>{-9,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,60},{210,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{230,248}}</string>
                <key>offset</key>
                <string>{-10,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,50},{230,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,602},{254,262}}</string>
                <key>offset</key>
                <string>{-12,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,41},{254,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,574},{278,274}}</string>
                <key>offset</key>
                <string>{-13,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,34},{278,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,496},{294,284}}</string>
                <key>offset</key>
                <string>{-21,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,28},{294,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,496},{276,294}}</string>
                <key>offset</key>
                <string>{-15,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,23},{276,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{262,320}}</string>
                <key>offset</key>
                <string>{-11,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,1},{262,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{328,306}}</string>
                <key>offset</key>
                <string>{-6,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{328,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{408,326}}</string>
                <key>offset</key>
                <string>{-6,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{408,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{406,304}}</string>
                <key>offset</key>
                <string>{-7,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{406,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,222}}</string>
                <key>offset</key>
                <string>{-5,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,81},{418,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_dianjin/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{398,198}}</string>
                <key>offset</key>
                <string>{-9,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,100},{398,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_zhenfen1/sm_gs_superskill1_0_conjure_106301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,752},{226,210}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,220},{226,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen1/sm_gs_superskill1_0_conjure_106302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,310},{228,296}}</string>
                <key>offset</key>
                <string>{6,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,134},{228,296}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen1/sm_gs_superskill1_0_conjure_106303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,254},{240,306}}</string>
                <key>offset</key>
                <string>{11,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,122},{240,306}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen1/sm_gs_superskill1_0_conjure_106304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{250,318}}</string>
                <key>offset</key>
                <string>{11,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,112},{250,318}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen1/sm_gs_superskill1_0_conjure_106305.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,330},{270,324}}</string>
                <key>offset</key>
                <string>{11,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,105},{270,324}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen1/sm_gs_superskill1_0_conjure_106306.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,202},{292,326}}</string>
                <key>offset</key>
                <string>{15,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,104},{292,326}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen1/sm_gs_superskill1_0_conjure_106307.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,850},{218,184}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,240},{218,184}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5101.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,774},{204,184}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,239},{204,184}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1036},{208,170}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,244},{208,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1036},{210,168}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,249},{210,168}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5104.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,774},{206,172}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,245},{206,172}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{194,158}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,259},{194,158}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,724},{192,174}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,241},{192,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{196,172}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,244},{196,172}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5108.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,858},{202,184}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,233},{202,184}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,974},{212,186}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,231},{212,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,918},{222,188}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,229},{222,188}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5111.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,948},{184,174}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,241},{184,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,540},{182,176}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,241},{182,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,386},{186,176}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,240},{186,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,198},{186,158}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,240},{186,158}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>skill_zhenfen2/sm_gs_superskill1_0_conjure_5115.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,602},{166,140}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,242},{166,140}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Buffskill.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9dd1e9a5da4947ad80a0cf7b2bb060:1/1$</string>
            <key>textureFileName</key>
            <string>Buffskill.png</string>
        </dict>
    </dict>
</plist>
