<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_attribute_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{28,188},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>img_attribute_red_sub</key>
            <dict>
                <key>frame</key>
                <string>{{47,188},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{14,6}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>img_critPoint_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{72,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_critProb_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{107,144},{50,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_entertheMap</key>
            <dict>
                <key>frame</key>
                <string>{{107,117},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>img_holyDam_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{55,65},{96,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_ignoremAC_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{55,38},{96,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_ignoremMAC_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{55,38},{96,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_mAC_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{28,38},{96,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_mAccuracy_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{28,135},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>img_mDC_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{179,115},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,24}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_mDodge_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{152,63},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>img_mHp_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{80,117},{80,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_mLuck_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{152,88},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>img_mMAC_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{1,38},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_mMC_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{55,92},{96,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_mMp_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{55,117},{82,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{82,24}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_mSC_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{152,115},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>img_tenacity_green_plus</key>
            <dict>
                <key>frame</key>
                <string>{{152,38},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>valuebg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{204,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,36}}</string>
                <key>sourceSize</key>
                <string>{204,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAlertAttrPlus.png</string>
            <key>size</key>
            <string>{210,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86e3f1e993579cb7c8e75b81fc889ab7$</string>
            <key>textureFileName</key>
            <string>UIAlertAttrPlus.png</string>
        </dict>
    </dict>
</plist>
